# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# Distribution / bundling
dist/
build/
*.egg-info/

# Environment variables
.env

# Local configuration
followed_accounts.json

# IDE
.idea/
.vscode/
*.swp
.DS_Store
